<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/stylesheet.css" rel="stylesheet">
    </head>
    <body>
    <h1>
    ...Oops...
    </h1>
    <p>
    Page not found!
    </p>
    </body>
</html>
