function createResultById(id, docs) {
    const doc = docs.find(element => element.id == id);
    //return "<li><a href=\"" + id + "\">" + id + " doc:" + JSON.stringify(doc) + "</a></li>";

    var li = document.createElement('li'),
        article = document.createElement('article'),
        header = document.createElement('header'),
        section = document.createElement('section'),
        h3 = document.createElement('h3'),
        ul = document.createElement('ul')
        summary = document.createElement('p');

    h3.dataset.field = 'name';
    h3.innerHTML = "<a href=\"" + doc.id + "\">" + doc.title + "</a>";
    summary.innerHTML = doc.summary;
    section.appendChild(summary);

    li.appendChild(article);
    article.appendChild(header);
    article.appendChild(section);
    header.appendChild(h3);

    if (doc.tags.length > 0) {
        ul.innerHTML = doc.tags.split(",").map(t => "<li><a rel=\"tag\" href=\"<%=@config[:root]%>/tags/#" + t + "\">" + t + "</a></li>").join(" ");
        ul.className = "tags";
        section.appendChild(ul);
    }

    return "<li>" + li.innerHTML + "</li>";
}


function renderResults(results_html, docs) {
    results_html = results.map(i => createResultById(i.ref, docs)).join('');
    document.getElementById("search-results").innerHTML = results_html;
    document.getElementById("search-hits").innerText = results.length;
    var script = document.createElement('script');
    script.innerText = "MathJax.typeset()";
    document.body.appendChild(script);
}


function clearResults() {
    const parent = document.getElementById("search-results")
    while (parent.firstChild) {
        parent.firstChild.remove();
    }
}


// doc_index
// doc_source_index

//var index = lunr.Index.load(JSON.parse(doc_index));
//var index_src = lunr.Index.load(JSON.parse(doc_source_index));

// var index = lunr(function () {
//     this.ref('id')
//     this.field('filename', { boost: 10 });
//     this.field('title', { boost: 10 });
//     this.field('tags', { boost: 5 });
//     this.field('body');

//     documents.forEach(function (doc) {
//         this.add(doc)
//         }, this
//     );
// });


// var index_src = lunr(function () {
//     this.ref('id');
//     this.field('filename', { boost: 10 });
//     this.field('title', { boost: 10 });
//     this.field('tags', { boost: 5 });
//     this.field('body');
//
//     documents_source.forEach(function (doc) {
//        this.add(doc)
//         }, this
//     );
// });


async function fetchDocAndIndex(stub) {
  const [docResponse, idxResponse] = await Promise.all([
    fetch(stub + '.json'),
    fetch(stub + '.idx')
  ]);

  const doc = await docResponse.json();
  const idx = await idxResponse.json();

  return [doc, lunr.Index.load(idx)];
}


var doc_search = {};
var source_search = {};
(
async () => {
    doc_stub = "<%= "#{@config[:root]}/js/search-docs" %>";
    [doc_search.doc, doc_search.idx] = await fetchDocAndIndex(doc_stub);

    source_stub = "<%= "#{@config[:root]}/js/search-docs-source" %>";
    [source_search.doc, source_search.idx] = await fetchDocAndIndex(source_stub);
})();


const search = (query) => {
    clearResults();

    const sel = document.getElementById("select-doc-opt");
    const opt = sel.options[sel.selectedIndex].text

    if (sel && opt==="Src") {
        results = source_search.idx.search(query);
        renderResults(results, source_search.doc);
    } else {
        results = doc_search.idx.search(query);
        renderResults(results, doc_search.doc);
    }

    var sch = document.getElementById("content-search");
    if (sch) {
        sch.style.display = "block";
    }

    var toc = document.getElementById("markdown-toc");
    if (toc) {
        toc.style.display = "none";
    }

    var header = document.getElementById("header");
    if (header) {
        header.style.display = "none";
    }

    var main = document.getElementById("content-main");
    if (main) {
        main.style.display = "none";
    }
}
