@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root {
  --base-font-size: 1em;
  --small-font-size: 0.9em;
  --large-font-size: 1.1em;
  --title-font-size: 2em;
  --hue: 250;
  --primary-color: var(--hue);
  --content-divide-color: hsl(var(--primary-color), 50%, 95%);
  --content-bg-color: hsl(var(--primary-color), 50%, 99%);
  --content-text-color: hsl(var(--primary-color), 50%, 1%);
  --highlight-bg-color: hsl(var(--primary-color), 50%, 95%);
  --highlight-border-color: hsl(var(--primary-color), 50%, 90%);
}
:root[theme='dark'] {
  --base-font-size: 1em;
  --small-font-size: 0.9em;
  --large-font-size: 1.1em;
  --title-font-size: 2em;
  --hue: 250;
  --primary-color: var(--hue);
  --content-divide-color: hsl(var(--primary-color), 50%, 95%);
  --content-bg-color: hsl(var(--primary-color), 50%, 99%);
  --content-text-color: hsl(var(--primary-color), 50%, 5%);
  --highlight-bg-color: hsl(var(--primary-color), 50%, 95%);
  --highlight-border-color: hsl(var(--primary-color), 50%, 90%);
  filter: invert(1) brightness(0.9);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--base-font-size);
  color: var(--content-text-color);
  background: var(--content-bg-color);
  font-weight: 350;
}

.half-width {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1 {
  font-size: 2rem;
  padding: 0.75rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4, h5, h6 {
  font-size: 1.1rem;
}

p {
  line-height: 1.5rem;
  color: var(--content-text-color);
}

pre {
  width: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

img.no-resize {
  width: revert;
}

table {
  width: 100%;
  overflow-x: auto;
}

#banner-container {
  grid-area: banner;
  text-align: center;
  font-size: 1rem;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem;
  background-color: rgb(250, 250, 250);
  border-bottom: 1px solid var(--content-divide-color);
  /*! position: sticky; */
}

#logo-container {
  display: flex;
  margin: 0.25rem auto 0.25rem 0.25rem;
  padding: 0 0 0 1rem;
  grid-area: logo;
}

.logo {
  margin: 0 1rem;
  font-size: 1.9rem;
}

.version-select {
  width: 5rem;
}

#search-container {
  margin: 0.25rem 0.5rem 0.25rem auto;
  padding: 0;
  grid-area: search;
  text-align: right;
}

.theme-controls {
  display: inline-block;
}

.search-form {
  display: inline-block;
  max-width: 300px;
}

#breadcrumbs-container {
  margin: 0 0.5rem 0 0.5rem;
  padding: 0;
  grid-area: bread;
}

#content {
  grid-area: main;
}

.note {
  padding: 1rem 0.75rem;
  background-color: var(--highlight-bg-color);
  border-radius: 0.5rem;
}
.note::before {
  content: "Note";
  display: block;
  font-weight: bold;
}

#header {
  grid-area: header;
}

#foot {
  grid-area: foot;
  border: 0;
  background-color: var(--content-bg-color);
}

.footer {
  background-color: var(--highlight-bg-color);
  border: 1px solid var(--highlight-border-color);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 2rem;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

ul.main {
  /*! margin: 1rem 0 2rem; */
  padding-left: 2rem;
}

ul.main li {
  margin: 0.5rem 0;
}

#foot ul {
  margin: 1rem 0 2rem;
  padding-left: 2rem;
}

#foot ul li {
  margin: 0.5rem 0;
}

ul.breadcrumbs {
  padding: 0.25rem 1rem;
  list-style: none;
  background-color: rgb(250, 250, 250);
  border-top: 1px solid var(--content-divide-color);
  border-bottom: 1px solid var(--content-divide-color);
  margin: 0;
  font-size: 0.8rem;
}

/* Display list items side by side */
ul.breadcrumbs li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
  padding: 0.5rem;
  color: var(--content-text-color);
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
  color: #0275d8;
  text-decoration: none;
}

ul.tags {
  line-height: 2.5rem;
  list-style: none;
  background-color: var(--content-bg-color);
}

/* Display list items side by side */
ul.tags li {
  display: inline;
  padding: 0.25rem 0.75rem;
  background-color: var(--highlight-bg-color);
  border-radius: 1rem;
  border: 2px solid var(--highlight-border-color);
}

/* Add a color to all links inside the list */
ul.tags li a {
  color: #0275d8;
  text-decoration: none;
}

.card-text {
  font-size: 1rem;
}

ul.card-links {
  font-size: 0.9rem;
  list-style: none;
  padding-left: 0;
}

#markdown-toc {
  font-size: var(--small-font-size);
  grid-area: toc;
  position: static;
  display: block;
  top: 1.25rem;
}

#markdown-toc:before {
  margin: -1.25rem;
  content: "On this page";
  font-size: var(--title-font-size);
  font-weight: 500;
}

#markdown-toc ul {
  /*padding: 20px;*/
  padding: 0.25rem 1.5rem;
  display: block;
}

nav {
  bottom: 3rem;
  border-right: 1px solid var(--content-divide-color);
  margin: 0;
  padding: 0.75rem;
  font-size: var(--small-font-size);
  grid-area: nav;
  top: 0;
  position: absolute;
  display: none;
  overflow: scroll;
  max-height: 100vh;
  background-color: var(--content-bg-color);
}

nav .sidebar-header {
  padding: 1.25rem;
  color: var(--content-text-color);
}

nav a,
nav a:hover,
nav a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

nav ul.components {
  padding: 0;
  margin: 0.25rem;
}

nav ul p {
  color: var(--content-text-color);
  padding: 0.75rem;
}

nav ul li a {
  padding: 0.25rem 1.25rem;
  margin: 0 0 0 -1.25rem;
  display: block;
}

nav ul li a:hover {
  color: rgb(6, 26, 53);
  font-weight: bold;
}

nav li.level-1 {
  padding: 0.25rem 0.25rem 0 1rem;
}
nav li.level-2 {
  padding: 0.25rem 0.25rem 0 1rem;
  border-left: 1px solid gray;
}
nav li.level-3 {
  padding: 0.25rem 0.25rem 0 1rem;
  border-left: 1px solid gray;
}
nav li.level-4 {
  padding: 0.25rem 0.25rem 0 1rem;
  border-left: 1px solid gray;
}
nav li.level-5 {
  padding: 0.25rem 0.25rem 0 1rem;
  border-left: 1px solid gray;
}

.nav-links
{
  display: inline-block;
  font-size: 1.5rem;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1.25rem;
  transform: translateY(-50%);
}

#main {
  max-width: 100vw;
  transition: all 0.3s;
}

dl {
  display: grid;
  grid-template-columns: max-content auto;
  margin-left: 1rem;
}

dt {
  font-weight: normal;
  grid-column: 1;
}

dd {
  margin-left: 1rem;
  grid-column: 2;
}

table.proptable {
  border-collapse: collapse;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

table.proptable th {
  vertical-align: center;
  writing-mode: vertical-lr;
  min-width: 2rem; /* for firefox */
}

table.proptable td, table.proptable th {
  padding: 1.25rem 1rem 1.25rem;
  text-align: center;
}

table.proptable td:first-child {
  text-align: left;
}

.input-required {
  background-color: #f7f7f7;
}

.input-change-ok {
  background-color: #60aa1b; /* green */
}

.input-change-maybe {
  background-color: #fced1b; /* amber */
}

.input-change-unusual {
  background-color: #e0941a; /* red */
}

.input-deprecated {
  background-color: #464746; /* black */
}

.wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 100vw;
  grid-gap: 0;
  grid-template-areas:
    "banner"
    "logo"
    "search"
    "bread"
    "header"
    "toc"
    "main"
    "foot";
  grid-template-columns: auto;
  grid-template-rows: auto;
}

#btnTop {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #0275d8;
  color: white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1.25rem;
}

#btnTop:hover {
  background-color: #555;
}

a.permalink {
  padding: 0.75rem;
  opacity: 0.2;
  text-decoration: none;
}
h1:hover a.permalink,
h2:hover a.permalink,
h3:hover a.permalink,
h4:hover a.permalink {
  opacity: 1;
}

.permalink {
  font-size: 1.25rem;
}

.search-summary {
  padding: 0rem 1rem;
  font-size: 1.2rem;
}

.search-results h3 {
  font-size: 1.2rem;
}

.search-results p {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: rgb(90, 90, 90);
}

.search-results li {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.search-results ul.tags {
  font-size: 0.8rem;
  padding: 0.5rem 0rem;
  line-height: 2rem;
}

/* Display list items side by side */
.search-results ul.tags li {
  padding: 0.25rem 0.5rem;
}

.toggle {
  display: block;
}

.doc-select {
  max-width: max-content;
}

.license-container {
  margin: 0.25rem auto 0.5rem 0.25rem;
  text-align: left;
}

.license-description {
  display: inline-block;
  max-width: 80%;
  vertical-align: middle;
  margin: 0 auto 0 0.5rem;
}

.divider-solid {
  border-top: 1px solid var(--content-divide-color);
}

/* small phone */
@media only screen and (min-width: 320px) {
  #sidebar:target {
    display: block;
  }
}

/* most phones */
@media only screen and (min-width: 480px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card-detail {
    display: flex !important;
    flex: 0 0 30%;
  }
}

/* most tablets */
@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-areas:
    "banner banner"
    "logo search"
    "bread bread"
    "nav header"
    "nav toc"
    "nav main"
    "nav foot";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    grid-column-gap: 1.25rem;
    padding-left: 1.5rem;
    padding-right: 3rem;
    max-width: 1440px;
  }
  #sidebar {
    display: block;
    position: sticky;
  }
  .toggle {
    display: none;
  }
  nav .sidebar-header {
    padding: 0;
  }
  .nav {
    display: flex;
  }
  .card-container {
    margin-left: -15px;
    margin-right: -15px;
  }
  .half-width {
    width: 50%;
  }
}

/* small desktop */
@media only screen and (min-width: 992px) {
  .wrapper {
    grid-template-areas:
    "banner banner banner"
    "logo search search"
    "bread bread bread"
    "nav header toc"
    "nav main toc"
    "nav foot toc";
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 15rem);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #markdown-toc {
    position: sticky;
    max-height: 100vh;
  }
}

/* large device */
@media only screen and (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 300px 1fr 300px;
  }
}
