---
title: Tags
copyright:
- Copyright(C) 2020 OpenCFD Ltd.
license: CC-BY-NC-ND-4.0
menu_id: tags
menu_parent: home
menu_weight: 1002
---

<p>
<% letters = %w[] %>
<% @config[:tags].each do |tag| %>
  <% letters.append(tag[0]) %>
<% end %>
<% letters = letters.uniq %>
<% letters.each do |l| %>
  <%= link_to l, "#"+l %>
<% end %>
<p>

<% @config[:tags].each do |tag| %>
  <% tags = items_with_tag(tag) %>
  <% if tags.size > 0 %>

    <% tags.sort_by! {|k , v| k[:title].downcase } %>
    <% if tag[0] == letters[0] %>
    <%= "<h2 id=\"#{tag[0]}\">" + letters[0] + "</h2>" %>
      <% letters = letters.drop(1) %>
    <% end %>

    <span id="<%= tag %>"><%= tag %></span>
    <ul>
      <% tags.each do |i| %>
        <li><%= link_to i[:title], i %></li>
      <% end %>
    </ul>
  <% else %>
    <%= puts "WARNING: tag_empty:#{tag}" %>
    <% letters = letters.drop(1) %>
  <% end %>
<% end %>
