<script src="<%= @config[:root]%>/js/page-tools.js"></script>

<!-- Theme -->
<script src="<%= @config[:root] %>/../common/versions.js"></script>
<script src="<%= @config[:root] %>/js/theme.js"></script>

<!-- MathJax -->
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script src="<%= @config[:root] %>/js/mathjax-macros.js"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<!-- <script type="text/javascript" async src="/MathJax-master/es5/tex-mml-chtml.js"></script> -->

<!-- Search -->
<script src="<%= @config[:root] %>/js/lunr.js"></script>
<script src="<%= @config[:root] %>/js/search-tools.js" async defer></script>

<script>
  const form = document.getElementById('search_form');
  form.addEventListener("submit", function(e) {
    console.log('calling search')
    e.preventDefault();
    search(form.input.value);
  });
</script>
