<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>OpenFOAM Documentation - <%= @item[:title] %></title>
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<meta property="og:site_name" content="OpenFOAM">
<meta property="og:type" content="article">
<meta property="og:title" content="OpenFOAM Documentation - <%= @item[:title] %>">
<meta property="og:description" content="OpenFOAM documentation - <%= @item[:title] %>">
<meta property="og:url" content="<%= @config[:openfoam][:doc_url] %>"<%= @item.path %>">
<meta property="og:image" content="<%= @config[:openfoam][:doc_url] %><%= @config[:root] %>/img/openfoam_logo.jpg">
<meta name="keywords" content="<%=@item[:tags].join(", ") unless @item[:tags].nil? %>">
<meta name="twitter:site" content="@openfoam">
<meta name="twitter:description" content="OpenFOAM documentation - <%= @item[:title] %>">
<meta name="twitter:title" content="<%= @item[:title] %>">
<meta name="twitter:image" content="<%= @config[:openfoam][:doc_url] %><%= @config[:root] %>/img/openfoam_logo.jpg">

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- local styling -->
<link rel="stylesheet" href="<%= @config[:root] %>/stylesheet.css">

<!-- Code highlighting using highlight.js-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/stackoverflow-light.min.css">

<!-- Font Awesome JS -->
<script src="https://kit.fontawesome.com/af51a90d9f.js" crossorigin="anonymous"></script>

</head>
