\documentclass{article}

\usepackage{inputenc}
\usepackage{fontenc}
\usepackage{listings}
\usepackage{hyperref}
\usepackage{longtable}
\usepackage{amsmath}

\begin{document}

<%= yield %>

\end{document}

