<!DOCTYPE HTML>
<html lang="en">

  <%= render "/partials/header.*" %>

  <body>
    <%= render "/partials/jquery.*" %>
    <%= render "/partials/bootstrap.*" %>
    <%= render "/partials/highlight.*" %>

    <button onclick="topFunction()" id="btnTop" title="Go to top">Top</button>

    <div class="wrapper">

      <div id="banner-container">
        OpenFOAM v2306 released - see the latest features <a href="<%= @config[:openfoam][:web_url] %>/news/main-news/openfoam-v2306">here</a>
      </div>

      <div id="logo-container">
        <h3 class="no-top logo">
          Open<span style="color:blue;">&nabla;</span>FOAM
        </h3>
        <select id="select-version-opt" class="custom-select version-select" value="----">
        </select>
      </div>

      <div id="search-container">

        <div class="nav-links">
          <%=link_to_external('&nabla;', @config[:openfoam][:web_url],{'style':'color:blue;'})%>
          <%=link_to_external('<i class="fa-brands fa-twitter" aria-hidden="true"></i>','https://twitter.com/openfoam')%>
          <span id="theme-toggle-btn"><i class="fa fa-adjust" aria-hidden="true"></i></span>
        </div>

        <div class="search-form">
          <form id="search_form">
            <div class="input-group">
              <select id="select-doc-opt" class="custom-select doc-select">
                <option value="1" selected>Doc</option>
                <option value="2">Src</option>
              </select>

              <input class="form-control" type="text" id="input" name="input">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>

          </div>
      </div>

      <div id="breadcrumbs-container">
          <%= breadcrumbs %>
      </div>

      <!-- sidebar -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <a class="toggle" href="#">CLOSE</a>
        </div>
        <%= doc_toc %>
      </nav>

      <div id="header">
        <a class="toggle" href="#sidebar">open</a>
        <h1><%= @item[:title] %></h1>
      </div>

      <!-- main content -->
      <div id="content">
        <div id="content-main" class="main" >
          <div id="header-links" class="bg-light">
            <ul class="tags">
            <%= @item[:tags].map {|t| "<li>" + link_to(t, "#{@config[:root]}/tags/\##{t}", {class: "tag", rel: "tag"}) + "</li>"}.join(" ") unless @item[:tags].nil? %>
            </ul>
          </div>
          <div id="main" class="container-fluid">
            <%= yield %>
          </div>
        </div>
        <div id="content-search" class="container-fluid" style="display:none;">
          <h1>Search results</h1>
          <p class="search-summary">Number of hits : <span id="search-hits"></span></p>
          <ol class="search-results" id="search-results"></ol>
        </div>
      </div>

      <div id="foot" class="footer">
        <%= doc_footer(item) %>
      </div>

    </div>

    <%= render "/partials/footer.*" %>

  </body>
</html>
